<template>
  <b-row>
    <vue-bootstrap-typeahead
      v-model="query"
      :data="countries"
      placeholder="Enter a country"
    />
  </b-row>
</template>

<script>
import VueBootstrapTypeahead from "vue-bootstrap-typeahead";

export default {
  name: "home",
  components: {
    VueBootstrapTypeahead
  },
  data() {
    return {
      query: "",
      countries: ["Canada", "United States", "Mexico"]
    };
  }
};
</script>
