<template>
  <b-row>
    <Profile :user="$route.params.id" />
    <Repositories :user="$route.params.id" />
  </b-row>
</template>

<script>
import Profile from "@/components/Profile.vue";
import Repositories from "@/components/Repositories.vue";

export default {
  name: "User",
  components: {
    Profile,
    Repositories
  }
};
</script>
