<template>
  <b-col md="4" class="profile">
    <b-row>
      <b-col class="px-0 px-sm-3">
        <div class="avatar text-center py-3 bg-success">
          <img :src="getUser.avatarUrl" class="rounded-circle img-thumbnail" />
        </div>
      </b-col>
    </b-row>

    <div class="meta my-3 text-center">
      <p class="h3 name">
        <b-link :href="getUser.url" target="_blank" class="text-success">
          {{ getUser.name }}
        </b-link>
      </p>

      <p v-if="getUser.bio" class="bio">{{ getUser.bio }}</p>

      <div class="info mb-3">
        <div v-if="getUser.company" class="company">
          <font-awesome-icon :icon="['fas', 'user-friends']" />
          {{ getUser.company }}
        </div>
        <div v-if="getUser.location" class="location">
          <font-awesome-icon :icon="['fas', 'map-marker-alt']" />
          {{ getUser.location }}
        </div>
        <div v-if="getUser.link" class="link">
          <!-- eslint-disable-next-line -->
          <font-awesome-icon :icon="['fas', 'link']" /> <b-link :href="getUser.link">{{ getUser.link }}</b-link>
        </div>
      </div>
    </div>
  </b-col>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
  name: "Profile",
  props: {
    user: String
  },
  computed: {
    ...mapGetters(["getUser"])
  },
  methods: {
    ...mapActions(["fetchUser"])
  },
  mounted() {
    this.fetchUser(this.user);
  }
};
</script>

<style scoped>
.avatar img {
  width: 150px;
}

@media (min-width: 768px) {
  .profile {
    height: 100vh;
    top: 0;
    position: sticky;
  }
}
</style>
