<template>
  <div>
    <h5 class="name">
      <b-link :href="item.url" target="_blank">{{ item.full_name }}</b-link>
    </h5>
    <p v-if="item.description" class="description">{{ item.description }}</p>
    <div class="info mb-3">
      <div v-if="item.homepage" class="homepage">
        <font-awesome-icon :icon="['fas', 'link']" fixed-width />
        <b-link :href="item.homepage">{{ item.homepage }}</b-link>
      </div>
      <div v-if="item.stars" class="stars">
        <font-awesome-icon :icon="['fas', 'star']" fixed-width />
        {{ item.stars }}
      </div>
      <div v-if="item.forks" class="forks">
        <font-awesome-icon :icon="['fas', 'code-branch']" fixed-width />
        {{ item.forks }}
      </div>
      <div v-if="item.language" class="language">
        <font-awesome-icon :icon="['fas', 'globe']" fixed-width />
        {{ item.language }}
      </div>
    </div>

    <RepositoryEvents :id="item.id" />
  </div>
</template>

<script>
import RepositoryEvents from "@/components/RepositoryEvents.vue";

export default {
  name: "Repository",
  props: {
    item: Object
  },
  components: {
    RepositoryEvents
  }
};
</script>
