<template>
  <div class="events">
    <div
      class="loading text-center text-primary"
      v-if="!getRepository(id).events.length"
    >
      <b-spinner class="m-5"></b-spinner>
    </div>

    <line-chart
      v-if="getRepository(id).events.length"
      v-bind:chartData="chart.chartData"
      v-bind:options="chart.options"
      class="chart-container position-relative"
    />
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import moment from "moment";
import LineChart from "./Chart.vue";

export default {
  props: {
    id: Number
  },
  components: { LineChart },
  computed: {
    ...mapGetters(["getRepository"]),
    chart() {
      const events = this.getRepository(this.id).events.reduce(
        (event, item) => (
          (event[item.created] = (event[item.created] || 0) + 1), event
        ),
        {}
      );

      const points = Object.entries(events).map(([key, value]) => ({
        x: moment(key),
        y: value
      }));

      const chartData = {
        datasets: [
          {
            label: "Events",
            borderColor: "#007bff",
            borderWidth: 1,
            pointBackgroundColor: "#007bff",
            fill: false,
            data: points
          }
        ]
      };

      const options = {
        responsive: true,
        maintainAspectRatio: false,
        legend: { display: false },
        scales: {
          xAxes: [
            {
              type: "time",
              time: {
                unit: "day",
                tooltipFormat: "MMM D"
              },
              scaleLabel: {
                display: true,
                labelString: "Date"
              },
              ticks: {
                maxTicksLimit: 5
              }
            }
          ],
          yAxes: [
            {
              scaleLabel: {
                display: true,
                labelString: "Count"
              },
              ticks: {
                maxTicksLimit: 5
              }
            }
          ]
        },
        tooltips: {
          displayColors: false,
          callbacks: {
            label: function(tooltipItem) {
              return `There were a total of ${tooltipItem.yLabel} events on this day.`;
            }
          }
        }
      };

      return {
        chartData: chartData,
        options: options
      };
    }
  },
  methods: {
    ...mapActions(["fetchEvents"])
  },
  mounted() {
    this.fetchEvents(this.id);
  }
};
</script>

<style scoped>
.chart-container,
.loading {
  height: 200px;
}
</style>
