<template>
  <b-col md="8" class="my-3 repositories">
    <b-row>
      <b-col class="top-respositories">
        <h4>Top repositories:</h4>
        <Repository
          v-for="item in getRepositories"
          :key="item.id"
          class="repository"
          :item="item"
        />
      </b-col>
    </b-row>

    <b-row>
      <b-col class="activity">
        <h4>Activity</h4>
      </b-col>
    </b-row>

    <b-row class="border-top my-3 py-3 text-center">
      <b-col>
        Made with <b-link href="https://vue.js.org">Vue.js</b-link> and
        <b-link href="https://bootstrap-vue.js.org/">Bootstrap Vue</b-link>.
      </b-col>
    </b-row>
  </b-col>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import Repository from "@/components/Repository.vue";

export default {
  name: "Repositories",
  components: {
    Repository
  },
  props: {
    user: String
  },
  computed: {
    ...mapGetters(["getRepositories"])
  },
  methods: {
    ...mapActions(["fetchRepositories"])
  },
  mounted() {
    this.fetchRepositories(this.user);
  }
};
</script>
