<template>
  <b-container>
    <b-row>
      <b-col>
        <router-view />
      </b-col>
    </b-row>
  </b-container>
</template>

<style lang="scss">
@import "~bootstrap";
@import "~bootstrap-vue";
</style>
